
/*ESTILOS DE TESTIMONIOS*/
.row-test{
    padding: 5px;
    border: 6px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    background-color: #f2ca52;
}

.icono-usuario {
    font-size: 4.5rem;
    color: #f25c05;
    background-color: none;
    padding: 5px 10px;
    border-radius: 50%;
}

.iconos-redes {
    font-size: 1.5rem;
    color: #f25c05;
    background-color: none;
    padding: 4px 9.5px;
    border-radius: 50%;
    justify-content: space-evenly ;
}

/*hover*/
.container:hover{
    color: white;
    background-color: black;
}

.row-test:hover{
    color: white;
    background-color: #590202;
}


/*APLICACIÓN DE SCROLL*/
html {
    scroll-behavior: smooth;
    align-content: right;
  }
  
  #section1 {
    height: 6px;
    background-color: none;
  }
  
  #section2 {
    height: 6px;
    background-color: none;
  }



/*ADAPTABLE RESPONSIVO*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

























