body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen en columna */
}

.container1 {
  flex: 1; /* Hace que el contenido ocupe el espacio disponible */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/*secciones de adopciones*/

.section {
  width: 100%; /* Ajusta el ancho */
  text-align: center;
  background-color: #f2c12e;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}

/* Contenedor de imágenes */
.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.image-container {
  position: relative;
  width: 500px; /* Ajusta según sea necesario */
  margin: 0;
  padding: 0;
}

.image-container img {
  width: 100%;
  display: block;
  border-radius: 10px; /* Opcional */
}

/* Overlay */
.image-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #dff7039c; /* Color del overlay */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1; /*en la posicion uno para mostrarse*/
}

.image-container:hover::after {
  opacity: 1; /* Muestra el overlay al pasar el mouse */
}

/* Texto dentro del overlay */
.overlay-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2; /*en la posicion dos para que las letras queden adelante del overlay*/
}

.image-container:hover .overlay-text {
  opacity: 1; /*al finalizar la transición que queden visibles tanto el texto y el overlay*/
}

/* Bloque de información */
.info-block {
  background: #333;
  color: white;
  padding: 15px;
  margin-top: 5px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  box-sizing: border-box; /*evita que los elementos se agranden al cambiar el tamaño de pantalla*/
}

/*Efecto de corazon en el boton*/
@keyframes heartbeat {
  0% {
    transform: scale(1);
  } /*al inicio el boton esta en tamaño normal*/
  50% {
    transform: scale(1.1);
  } /* Aumenta un poco de tamaño */
  100% {
    transform: scale(1);
  } /*al final el boton vuele al tamaño noral*/
}

/* Estilos del botón */
.adopt-button {
  display: inline-block;
  background: #f88d25;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px #f88d25;
}

/* Activar el efecto latido en hover */
.adopt-button:hover {
  background: #f25c05;
  box-shadow: 0 0 15px #f88d25, 0 0 25px #f88d25;
  animation: heartbeat 0.8s infinite; /* Efecto de latido infinito de 0.8 segundos de duracion*/
}

/*INICIO CODIGO DE NAVBAR Y DE FOOTER*/

/*Navbar principal */
.navbar-scroll {
  /*Color de principal navbar*/
  background: #f88d25 !important;
  /*Efecto de sobriado en parte de abajo navbar*/
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /*Efecto de sobriado en la prate inferior*/
  transition: all 0.3s ease;
}
